*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(16,16,16);
  overflow: hidden;
}

.container {
  top: 12px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 150px;
  min-width: 100px;
  height: 41px;
  min-height: 30px;
}

.square {
  margin-left: 6px;
  width: 60px;
  height: 35px;
  background: #D9D9D9;
  border-radius: 3px;
}

.square:hover{
  background-color: #b6b6b6;
}

.usuario{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: calc(90vw - 35px);
  margin-top: 12px;
  cursor: pointer;
}

@import url('https://fonts.cdnfonts.com/css/port-lligat-sans');          

.logo{
  display: flex;
  justify-content: center;
}


@media(max-width: 540px){
h1{
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: 90px;
  text-align: center;
  word-break: break-all;
  max-width: 130px;
  min-width: 130px;
  line-height: 80px;
  color: #FFFFFF;
  cursor: pointer;
}

.center{
  margin-top:  0;
}
}

@media(min-width: 540px){
  h1{
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 90px;
    text-align: center;
    width: auto;
    color: #FFFFFF;
    cursor: pointer;
  }

  .center{
    margin-top: 7%;
  }
  }



.search-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.search-container:hover input, .search-container:hover .mic {
  background-color: #cecece;
}

input{
  width: calc(35% + 130px);
  border: none;
  border-radius: 30px 0 0 30px;
  padding-left: 20px;
  outline: none;
}

.lupa{
  margin-left: 5px;
  background-color: #ffffff;
  border: none;
  border-radius: 100%;
  height: 46px;
  width: 46px;
  cursor: pointer;
}

.lupa:hover {
  background-color: #cecece;
}

.mic{
  margin-left: -1%;
  height: 46px;
  width: 46px;
  border: none;
  background-color: #ffffff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.lupa:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 46vh;
  left: 71vw;
  width: 0;
  height: 0;
  background-color: #0c8f8fbe;
  opacity: 0.5;
  border-radius: 40%;
  animation: wave 0.6s linear;
}

@keyframes wave {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
    transform: translate(-50%, -50%);
  }
  to {
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}

@media(min-width: 912px){

.aba-inferior {
  height: 100vh;
  top: 70%;
  position: fixed;
  transition: top 0.2s ease-in-out;
}

.btn-aba-inferior {
  margin-left: 48%;
  background-color: #00000000;
  border: none;
  cursor: pointer;
  height: auto;
  width: 60px;
  font-size: 40px;
}

.table{
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}

hr{
  margin: 0;
  height: 6px;
  background-color: #d8d8d8;
}

.grid-container {
  max-height: 42vh;
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));

}
.grid-item{
  margin: auto;
  margin-bottom: 30px;
}

.grid-item img {
  width: 400px;
  max-height: 200px;
  cursor: pointer;
  border-radius: 12px;
}
.grid-item h2 {
  width: 400px;
  max-height: 40px;
  color: #cecece;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

}
@media(max-width: 912px){

  body{
    overflow-y: auto;
  }

  .btn-aba-inferior {
    margin-left: 48%;
    color: #16161600;
    background-color: #00000000;
    border: none;
    height: 0.1px;
    width: 0.1px;
    font-size: 0.1px;
  }
  
  hr{
    color: #00000000;
  }

  .grid-container {
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .grid-item img {
    display: flex;
    margin: auto;
    width: 380px;
    max-height: 200px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .grid-item h2 {
    display: flex;
    margin: auto;
    width: 380px;
    max-height: 40px;
    color: #cecece;
    font-size: 15px;
    font-weight: bold;
  }
  
  
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.teto{
  margin-top: 20px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.logo2{
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: 55px;
  text-align: center;
  color: #FFFFFF;
  margin-left: -125px;
  margin-top: 4px;
  cursor: pointer;
  text-decoration: none;
}

.search-container2{
  margin-left: -80px;
  display: flex;
  justify-content: center;
}
  
.search-container2 input{
  width: 100%;
  min-width: 500px;
  height: 45px;
  border: none;
  border-radius: 30px 0 0 30px;
  padding-left: 25px;
  outline: none;
}

.search-container2:hover input, .search-container2:hover .mic2{
  background-color: #cecece;
}
  
.lupa2{
  margin-left: 8px;
  background-color: #ffffff;
  border: none;
  border-radius: 100%;
  height: 46px;
  width: 46px;
  cursor: pointer;
}
  
.lupa2:hover {
    background-color: #cecece;
}
  
.mic2{
  margin-left: -1%;
  height: 45px;
  width: 46px;
  border: none;
  background-color: #ffffff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.usuario2{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: -150px;
  margin-left: 90px;
  cursor: pointer;
}

.grid{
  margin-top: 30px;
  background-color: #00ffff00;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 50px;
  width: 90%;
  justify-content: center;
}
  
.item{
  color: #cccccc;
  background-color: #161616;
  padding: 15px;
  padding-top: 5px;
  width: 95px;
  text-align: center;
  cursor: pointer;
  border: 2.5px solid #444444a6;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  height: 35px;
  margin-bottom: -4.5px;
  z-index: 9999;
}

.hr2{
  margin: 0;
  height: 4.5px;
  background-color: #5c5c5c;
}

.grid2{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  overflow-y: auto;
  width: 100vw;
  height:calc(100vh - 40px);
}

.site{
  width: 100%;
  display: flex;
  max-width: 90vw;
  margin-bottom: 30px;
  margin-top: 30px;
}

.site img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 20px;
  cursor: pointer;
}

.text{
  text-align: left;
  width: 70%;
}

h2{
  font-size: 14px;
  color: #858585;
}

.link{
  color: #4891FF;
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}

h3{
  font-size: 17px;
  color: #4d4d4d;
  cursor: pointer;
}

h3:hover{
  text-decoration: underline;
}